body {
	font-family:"Courier New" ;
    //background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

#container {
	text-align: center;
	position: relative;
    margin: auto;
	height: 2000px;
	width: 800px;
    background-color: lightblue;
    z-index:2;

}

#holder1 {
	position: fixed;
	top: 30px;
	height: 800px;
	z-index:3;
}


#holder2 {
	position: fixed;
	top: 400px;
	//height: 800px;
	z-index:2;
}

#holder3 {
	position: fixed;
	top: 900px;
	width: 800px;
	z-index:2;
}

#backgroundDiv {
	position: fixed;
	top: 0px;
	height: 600px;
	z-index:1;
}

